.elementor-kit-5{--e-global-color-primary:#01080F;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-e14cb8f:#FFFFFF;--e-global-color-6ea1639:#CD975C;--e-global-color-83a0341:#FFE2B5;--e-global-color-db6e8a6:#BE9455;--e-global-color-bae6c9c:#023464;--e-global-color-86de19d:#001120;--e-global-typography-primary-font-family:"inter-variable";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"inter-variable";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"inter-variable";--e-global-typography-text-font-size:15px;--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"inter-variable";--e-global-typography-accent-font-weight:500;}.elementor-kit-5 e-page-transition{background-color:#FFBC7D;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){--kit-widget-spacing:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS *//* Barra de rolagem - Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Fundo */
}

::-webkit-scrollbar-thumb {
  background: #6a00ff; /* Cor do scroll */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5000cc; /* Hover */
}

/* Firefox */
* {
  scrollbar-color: #6a00ff #f0f0f0;
  scrollbar-width: thin;
}/* End custom CSS */